<div class="intro-space">
	<img class="intro-img" src="./images/food6.jpg" />
</div>
<div class="container">
	<div class="home">
		<div class="intro">
			<h1>Change Your Name</h1>
		</div>
	</div>
		<div class="input-fields">
			<h4>From {{showUserData.firstName}} {{showUserData.lastName}} to...</h4>
			<input class="inputfield" type="text" ng-model="firstName" placeholder="{{showUserData.firstName}}" />
			<input class="inputfield" type="text" ng-model="lastName" placeholder="{{showUserData.lastName}}" />
			<div class="clearfix"></div>
			<button class="login-dark" ng-click="updateName(firstName, lastName)">Save</button>
			<button class="login-red" ng-click="cancel()">Cancel</button>
		</div>
</div>