<div class="intro-space">
	<img class="intro-img" src="./images/food6.jpg" />
</div>
<div class="container">
	<div class="home">
		<div class="intro">
			<h1>Change Your Profile Picture</h1>
		</div>
	</div>
		<div class="input-fields">
			<h3>Please enter an image URL</h3>
			<input class="inputfield" ng-model="imageUrl" />
			<div class="clearfix"></div>
			<button class="login-dark" ng-click="updatePicture(imageUrl)">Save</button>
			<button class="login-red" ng-click="cancel()">Cancel</button>
		</div>
</div>