<h3>Tell us your favorite foods and level of foodie-ism and in turn, we'll match you up with similar foodies and suggest restaurants around {{showUserData.location}}.</h3>
<form>
	<label>Korean
		<input type="checkbox" ng-model="fave.korean" />{{fave.korean}}
	</label><br />
	<label>Italian
		<input type="checkbox" ng-model="fave.italian" />{{fave.italian}}
	</label><br />
	<label>Nepalese
		<input type="checkbox" ng-model="fave.nepalese" />{{fave.nepalese}}
	</label><br />
	<label>Indian
		<input type="checkbox" ng-model="fave.indian" />{{fave.indian}}
	</label><br />
	<label>Thai
		<input type="checkbox" ng-model="fave.thai" />{{fave.thai}}
	</label><br />
	<label>Chinese
		<input type="checkbox" ng-model="fave.chinese" />{{fave.chinese}}
	</label><br />
	<label>American
		<input type="checkbox" ng-model="fave.american" />{{fave.american}}
	</label><br />
	<label>New American
		<input type="checkbox" ng-model="fave.newamerican" />{{fave.newamerican}}
	</label><br />
	<label>Japanese
		<input type="checkbox" ng-model="fave.japanese" />{{fave.japanese}}
	</label><br />
	<!-- <label>Ethiopian
		<input type="checkbox" ng-model="fave.ethiopian" />{{fave.ethiopian}}
	</label><br />
	<label>Cuban
		<input type="checkbox" ng-model="fave.cuban" />{{fave.cuban}}
	</label><br />
	<label>Mexican
		<input type="checkbox" ng-model="fave.mexican" />{{fave.mexican}}
	</label><br />
	<label>Venezuelan
		<input type="checkbox" ng-model="fave.venezuelan" />{{fave.venezuelan}}
	</label><br />
	<label>Columbian
		<input type="checkbox" ng-model="fave.columbian" />{{fave.columbian}}
	</label><br />
	<label>Taiwanese
		<input type="checkbox" ng-model="fave.taiwanese" />{{fave.taiwanese}}
	</label><br />
	<label>Sichuan
		<input type="checkbox" ng-model="fave.sichaun" />{{fave.sichaun}}
	</label><br />
	<label>Cantonese
		<input type="checkbox" ng-model="fave.cantonese" />{{fave.cantonese}}
	</label><br />
	<label>Pakistani
		<input type="checkbox" ng-model="fave.pakistani" />{{fave.pakistani}}
	</label><br />
	<label>French
		<input type="checkbox" ng-model="fave.french" />{{fave.french}}
	</label><br />
	<label>Irish
		<input type="checkbox" ng-model="fave.irish" />{{fave.irish}}
	</label><br />
	<label>British
		<input type="checkbox" ng-model="fave.british" />{{fave.british}}
	</label><br />
	<label>German
		<input type="checkbox" ng-model="fave.german" />{{fave.german}}
	</label><br />
	<label>Moroccan
		<input type="checkbox" ng-model="fave.moroccan" />{{fave.moroccan}}
	</label><br />
	<label>Lebanese
		<input type="checkbox" ng-model="fave.lebanese" />{{fave.lebanese}}
	</label><br />
	<label>Russian
		<input type="checkbox" ng-model="fave.russian" />{{fave.russian}}
	</label><br />
	<label>Puerto Rican
		<input type="checkbox" ng-model="fave.puertorican" />{{fave.puertorican}}
	</label><br />
	<label>Indonesian
		<input type="checkbox" ng-model="fave.indonesian" />{{fave.indonesian}}
	</label><br />
	<label>Philippine
		<input type="checkbox" ng-model="fave.philippine" />{{fave.philippine}}
	</label><br />
	<label>Singaporean
		<input type="checkbox" ng-model="fave.singaporean" />{{fave.singaporean}}
	</label><br />
	<label>Vietnamese
		<input type="checkbox" ng-model="fave.vietnamese" />{{fave.vietnamese}}
	</label><br />
	<label>Laotian
		<input type="checkbox" ng-model="fave.laotian" />{{fave.laotian}}
	</label><br />
	<label>Brazilian
		<input type="checkbox" ng-model="fave.brazilian" />{{fave.brazilian}}
	</label><br />
	<label>Polish
		<input type="checkbox" ng-model="fave.polish" />{{fave.polish}}
	</label><br />
	<label>Turkish
		<input type="checkbox" ng-model="fave.turkish" />{{fave.turkish}}
	</label><br />
	<label>Belgian
		<input type="checkbox" ng-model="fave.belgian" />{{fave.belgian}}
	</label><br />
	<label>Baltic
		<input type="checkbox" ng-model="fave.baltic" />{{fave.baltic}}
	</label><br />
	<label>Balkan
		<input type="checkbox" ng-model="fave.balkan" />{{fave.balkan}}
	</label><br />
	<label>Scandinavian
		<input type="checkbox" ng-model="fave.scandinavian" />{{fave.scandinavian}}
	</label><br />
	<label>Greek
		<input type="checkbox" ng-model="fave.greek" />{{fave.greek}}
	</label><br />
	<label>Spanish
		<input type="checkbox" ng-model="fave.spanish" />{{fave.spanish}}
	</label><br />
	<label>Chilean
		<input type="checkbox" ng-model="fave.chilean" />{{fave.chilean}}
	</label><br />
	<label>Peruvian
		<input type="checkbox" ng-model="fave.peruvian" />{{fave.peruvian}}
	</label><br />
	<label>Sudanese
		<input type="checkbox" ng-model="fave.sudanese" />{{fave.sudanese}}
	</label><br />
	<label>Mongolian
		<input type="checkbox" ng-model="fave.mongolian" />{{fave.mongolian}}
	</label><br />
	<label>Malaysian
		<input type="checkbox" ng-model="fave.malaysian" />{{fave.malaysian}}
	</label><br />
	<label>Persian
		<input type="checkbox" ng-model="fave.persian" />{{fave.persian}}
	</label><br />
	<label>Australian
		<input type="checkbox" ng-model="fave.australian" />{{fave.australian}}
	</label><br />
	<label>Bushfoods
		<input type="checkbox" ng-model="fave.bushfoods" />{{fave.bushfoods}}
	</label><br />
	<label>Mediterranean
		<input type="checkbox" ng-model="fave.mediterranean" />{{fave.mediterranean}}
	</label><br />
	<label>Pacific Islandic
		<input type="checkbox" ng-model="fave.pacificislandic" />{{fave.pacificislandic}}
	</label><br />
	<label>Native American
		<input type="checkbox" ng-model="fave.nativeamerican" />{{fave.nativeamerican}}
	</label><br />
	<label>Canadian
		<input type="checkbox" ng-model="fave.canadian" />{{fave.canadian}}
	</label><br />
	<label>Vegan
		<input type="checkbox" ng-model="fave.vegan" />{{fave.vegan}}
	</label><br />
	<label>Vegetarian
		<input type="checkbox" ng-model="fave.vegetarian" />{{fave.vegetarian}}
	</label><br />
	<label>American Barbeque
		<input type="checkbox" ng-model="fave.americanbarbeque" />{{fave.americanbarbeque}}
	</label><br />
	<label>Cajun
		<input type="checkbox" ng-model="fave.cajun" />{{fave.cajun}}
	</label><br />
	<label>Soul Food
		<input type="checkbox" ng-model="fave.soulfood" />{{fave.soulfood}}
	</label><br />
	<label>Health-conscious
		<input type="checkbox" ng-model="fave.healthconscious" />{{fave.healthconscious}}
	</label><br />
	<label>Seafood
		<input type="checkbox" ng-model="fave.seafood" />{{fave.seafood}}
	</label><br /> -->
</form>

<!-- <h3>Interest Level</h3>
<ul>
	<li>Love it</li>
	<li>Like it</li>
	<li>Dislike it</li>
	<li>Never tried it but want to!</li>
	<li>Never want to try it</li>
</ul>
<h3>Favorite Types of Foods</h3>
<ul>
	<li>Soups</li>
	<li>Sandwiches</li>
	<li>Pizzas</li>
	<li>Pastas</li>
	<li>Roasts</li>
	<li>Curries</li>
	<li>Stir-frys</li>
	<li>Baked</li>
	<li>Salads</li>
	<li>Grilled</li>
	<li>Barbeque</li>
	<li>Casseroles</li>
	<li>Noodles</li>
	<li>Porridges</li>
	<li>Rices</li>
	<li>Deep-fried</li>
	<li>Sausages</li>
	<li>Cheeses</li>
	<li>Meats</li>
	<li>Fish</li>
	<li>Desserts</li>
</ul>
<h3>Favorite Types of Flavors</h3>
<ul>
	<li>Plain/basic</li>
	<li>Spicy</li>
	<li>Salty</li>
	<li>Sweet</li>
	<li>Natural</li>
	<li>Grilled</li>
	<li>Garlicky</li>
	<li>Peppery</li>
	<li>Sour</li>
	<li>Tangy/Citrusy</li>
	<li>Gamey</li>
	<li>Buttery</li>
	<li>Vegetable-y</li>
	<li>Fruity</li>
</ul> -->

<button ng-click="updateFoods()">Save</button>