<div class="intro-space">
	<img class="intro-img" src="./images/food6.jpg" />
</div>
<div class="container">
	<div class="home">
		<div class="intro">
			<h1>Change Your Gender</h1>
		</div>
	</div>
		<div class="input-fields">
			<h4>From {{showUserData.gender}} to...</h4>
			<select ng-model="gender">
				<option value="Male">Male</option>
				<option valuel="Female">Female</option>
				<option value="Both">Both</option>
				<option value="Neither">Neither</option>
			</select>
			<div class="clearfix"></div>
			<button class="login-dark" ng-click="updateGender(gender)">Save</button>
			<button class="login-red" ng-click="cancel()">Cancel</button>
		</div>
</div>