<p>Name</p> {{}} {{}} <a ui-sref="userProfile.userDashboard.editProfile.name">Edit</a>

<p>Email</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.email">Edit</a>

<p>Username</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.username">Edit</a>

<p>Password</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.password">Edit</a>

<p>Location</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.location">Edit</a>

<p>Gender</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.gender">Edit</a>

<p>Age</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.birthday">Edit</a>

<p>Bio</p> {{}} <a ui-sref="userProfile.userDashboard.editProfile.bio">Edit</a>

<h2>Food Interests</h2>
<ul>
	<li>Korean</li>
	<li>Italian</li>
	<li>Nepalese</li>
	<li>Indian</li>
	<li>Thai</li>
	<li>Chinese</li>
	<li>American</li>
	<li>New American</li>
	<li>Japanese</li>
	<li>Ethiopian</li>
	<li>Cuban</li>
	<li>Mexican</li>
	<li>Venezuelan</li>
	<li>Columbian</li>
	<li>Taiwanese</li>
	<li>Szechuan</li>
	<li>Cantonese</li>
	<li>Pakistani</li>
	<li>French</li>
	<li>Irish</li>
	<li>British</li>
	<li>German</li>
	<li>Moroccan</li>
	<li>Lebonese</li>
	<li>Russian</li>
	<li>Puerto Rican</li>
	<li>Indonesian</li>
	<li>Filipino</li>
	<li>Laotian</li>
	<li>Brazilian</li>
	<li>Chilean</li>
	<li>Peruvian</li>
</ul>
