<p>Name</p> {{showUserData.firstName}} {{showUserData.lastName}} <a ui-sref="userProfile.name">Edit</a>
<hr>
<p>Email</p> {{showUserData.email}} <a ui-sref="userProfile.email">Edit</a>
<hr>
<p>Username</p> {{showUserData.username}} <a ui-sref="userProfile.username">Edit</a>
<hr>
<p>Password</p> {{showUserData.password}} <a ui-sref="userProfile.password">Edit</a>
<hr>
<p>Location</p> {{showUserData.location}} <a ui-sref="userProfile.location">Edit</a>
<hr>
<p>Gender</p> {{showUserData.gender}} <a ui-sref="userProfile.gender">Edit</a>
<hr>
<p>Birthday</p> {{showUserData.birthday}} <a ui-sref="userProfile.birthday">Edit</a>
<hr>
<p>Bio</p> {{showUserData.bio}} <a ui-sref="userProfile.bio">Edit</a>
<hr>

<h3>Tell us your favorite foods and level of foodie-ism and in turn, we'll match you up with similar foodies and suggest restaurants around {{showUserData.location}}.</h3>
<h2>Cuisines</h2>
<ul>
	<li>Korean</li>
	<li>Italian</li>
	<li>Nepalese</li>
	<li>Indian</li>
	<li>Thai</li>
	<li>Chinese</li>
	<li>American</li>
	<li>New American</li>
	<li>Japanese</li>
	<li>Ethiopian</li>
	<li>Cuban</li>
	<li>Mexican</li>
	<li>Venezuelan</li>
	<li>Columbian</li>
	<li>Taiwanese</li>
	<li>Szechuan</li>
	<li>Cantonese</li>
	<li>Pakistani</li>
	<li>French</li>
	<li>Irish</li>
	<li>British</li>
	<li>German</li>
	<li>Moroccan</li>
	<li>Lebanese</li>
	<li>Russian</li>
	<li>Puerto Rican</li>
	<li>Indonesian</li>
	<li>Philippine</li>
	<li>Singaporean</li>
	<li>Vietnamese</li>
	<li>Laotian</li>
	<li>Brazilian</li>
	<li>Polish</li>
	<li>Turkish</li>
	<li>Belgian</li>
	<li>Baltic</li>
	<li>Balkan</li>
	<li>Scandinavian</li>
	<li>Greek</li>
	<li>Spanish</li>
	<li>Chilean</li>
	<li>Peruvian</li>
	<li>Sudanese</li>
	<li>Mongolian</li>
	<li>Malaysian</li>
	<li>Persian</li>
	<li>Australian</li>
	<li>Bushfoods</li>
	<li>Mediterranean</li>
	<li>Pacific Islandic</li>
	<li>Native American</li>
	<li>Canadian</li>
	<li>Vegan</li>
	<li>Vegetarian</li>
	<li>American Barbeque</li>
	<li>Cajun</li>
	<li>Soul food</li>
	<li>Health-conscious</li>
	<li>Seafood</li>
	<li>Other</li>
</ul>
<h3>Interest Level</h3>
<ul>
	<li>Love it</li>
	<li>Like it</li>
	<li>Dislike it</li>
	<li>Never tried it but want to!</li>
	<li>Never want to try it</li>
</ul>
<h3>Favorite Types of Foods</h3>
<ul>
	<li>Soups</li>
	<li>Sandwiches</li>
	<li>Pizzas</li>
	<li>Pastas</li>
	<li>Roasts</li>
	<li>Curries</li>
	<li>Stir-frys</li>
	<li>Baked</li>
	<li>Salads</li>
	<li>Grilled</li>
	<li>Barbeque</li>
	<li>Casseroles</li>
	<li>Noodles</li>
	<li>Porridges</li>
	<li>Rices</li>
	<li>Deep-fried</li>
	<li>Sausages</li>
	<li>Cheeses</li>
	<li>Meats</li>
	<li>Fish</li>
	<li>Desserts</li>
</ul>
<h3>Favorite Types of Flavors</h3>
<ul>
	<li>Plain/basic</li>
	<li>Spicy</li>
	<li>Salty</li>
	<li>Sweet</li>
	<li>Natural</li>
	<li>Grilled</li>
	<li>Garlicky</li>
	<li>Peppery</li>
	<li>Sour</li>
	<li>Tangy/Citrusy</li>
	<li>Gamey</li>
	<li>Buttery</li>
	<li>Vegetable-y</li>
	<li>Fruity</li>
</ul>

<h2>Your level of foodie-ism</h2>
<ul>
	<li>Adventurous - You are super epicurious and are in constant pursuit of indulging in great, authentic, or unique foods from all over the world. You thrive on flavor. And, you'll try literally ANYTHING at least once!</li>
	<li>Open-minded - You believe in mixing it up and trying new kinds of foods whenever possible. The only foods you won't touch are those containing insects, live animals, or anything else you have been conditioned to be appalled by.</li>
	<li>Favorite-player - It's not that you're unwilling to try new things, it's that you already have your favorites - the 'tried and true' dishes that never disappoint - and those are what you like to stick with. You also prefer flavors that don't stray too far from what you're used to.</li>
</ul>
