<div class="intro-space">
	<img class="intro-img" src="./images/food4.jpg" />
</div>
<div class="container">
	<div class="home">
		<div class="intro">
			<h1>{{userData.username}} a.k.a. {{userData.firstName}}</h1>
			<h2>Living in {{userData.location}}</h2>
			<a href="mailto:{{userData.email}}"><button class="login">Contact {{userData.firstName}} to Eat Up!</button></a>
		</div>
	</div>
	<div class="profile-user-listing-details">
		<div class="profile-user-listing-details-left">
			<img class="profile-user-listing-photo" src="{{userData.facebookProfilePic}}" />
		</div>
		<div class="profile-user-listing-details-right">
			<div class="profile-user-listing-bio">"{{userData.bio}}"</div>
			<div class="profile-user-listing-gender">{{userData.gender}}</div>
			<div class="profile-user-listing-level"><span ng-repeat="(key, val) in userData.level">{{val}}</span></div>
			<div class="profile-user-listing-foods">
				<label>{{userData.firstName}}'s Favorite Foods</label>
					<ul>
						<li ng-repeat="(cuisine, truthy) in userData.foods"> {{cuisine}} </li>
					</ul>
			</div>
		</div>
	</div>
</div>
