<div class="row header">
	<h1>Your Dashboard</h1>
</div>
<div class="row">
	<h2>Welcome back, {{ showUserData.firstName }}!</h2>
	<p><a href="/#/user/{{showUserData.username}}">View Profile</a></p>
	<p><a ui-sref="editProfile">Edit Profile</a></p>
	<div ui-view></div>
</div>


<div class="row">
	<h2>Suggested Foodie Matches</h2>
	<div ng-repeat="user in suggestedUsers">
		<a href="/#/user/{{user.username}}">{{user.username}}</a> a.k.a. {{user.firstName}}
		{{user.location}}
		{{user.gender}}
		<br />
		Foods you both like:
		<ul>
			<li ng-repeat="cuisine in user.matchedFoods"> {{cuisine}} </li>
		</ul>
	</div>
</div>
